.fill {
  flex-grow: 1;
}
.myRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.myCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.onHover {
  transition: background-color 0.3s ease;
}
.onHover:hover {
  background-color: #e7e7e7;
}
.center {
  text-align: center;
}
.head {
  width: 100%;
  height: 60px;
}
.w5 {
  width: 5px;
}
.w10 {
  width: 10px;
}
.w20 {
  width: 20px;
}
.h5 {
  height: 5px;
}
.h10 {
  height: 10px;
}
.h20 {
  height: 20px;
}
.searchBox {
  height: 40px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.5);

  border-radius: 50px;
}
.searchBox:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.menuCard {
  height: 40px;
  width: 170px;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.menuCard:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.menuCardSelect {
  height: 40px;
  width: 170px;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(255, 255, 255, 0.3);
}
.menuText {
  font-size: 18px;
  color: white;
}
.myTitle {
  font-size: 30px;
  margin-bottom: 20px;
}
.mySubTitle {
  font-size: 25px;
  margin-bottom: 10px;
}
.myAddCard {
  height: 45px;
  width: 200px;
  background-color: #ffffff;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}
.addCardTitle {
  font-size: 18px;
}
.addCardText {
  font-size: 14px;
}
.list {
  margin-bottom: 10px;
}
.rotate180 {
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
}
.rotate180.rotate-active {
  transform: rotate(180deg);
}
.slide-enter-active {
  transition: max-height 0.5s ease-in;
  overflow: hidden;
  max-height: 200px;
}
.slide-leave-active {
  transition: max-height 0.5s ease-out;
  overflow: hidden;
  max-height: 200px;
}

.slide-enter-from,
.slide-leave-to {
  max-height: 0;
}
.stack-container {
  position: relative;
}

.stack-container > * {
  position: absolute;
  top: 0;
  left: 0;
}
